<h1>Bonjour, vous voila inscrit !</h1>
<p>Vous avez été inscrit comme responsable de licence.</p>
<p>Pour vous connecter vous devez utiliser votre adresse e-mail comme identifiant,</p>
<p>votre mot de passe sera le suivant : {{ password }}.</p>