{% extends '::base.html.twig' %}

{% block body %}
    <h1>Ajouter une annonce</h1>
    <h2>Offre</h2>
    {{ form_start(form) }}
    <label>Maitre apprentissage</label>

        {% for map in maps %}
            <label>test</label>
            <li>{{ map.nom }}</li>

        {% endfor %}

    {{ form_end(form) }}




{% endblock %}
