{% extends '::base.html.twig' %}

{% block body %}
    <h1>Ajouter une annonce</h1>
    <h2>Offre</h2>
    {{ form_start(formOffre) }}
    {{ form_end(formOffre) }}
    <h2>MAP</h2>



{% endblock %}
