{% extends '::base.html.twig' %}

{% block body %}
    <h1>Ajouter une annonce</h1>
    <h2>Offre</h2>
    {{ form_start(form) }}
    <label>Maitre apprentissage</label>
    <select>

        <option></option>
    </select>
    {{ form_end(form) }}




{% endblock %}
