{% extends 'base.html.twig' %}

{% block body %}
   <h1>Bienvenue</h1>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('css/style/index.css') }}" type="text/css" />
{% endblock %}

{% block title %}Page d'accueil{% endblock %}

