{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}
    Ajout de reponsables
{% endblock %}

{% block body %}
    <h1>Ajouter des responsables de licence</h1>
    {{ form(form) }}
    <blockquote>
        <p>Un e-mail sera envoyé au responsable, il contiendra son identifiant et son mot de passe.</p>
    </blockquote>
{% endblock %}