{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}
{% block title %}
    Ajout d'une promotion
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6">
            <h1>Ajouter une nouvelle promotion</h1>
            {{ form(form) }}
        </div>
        <div class="col-md-6">
            <h1>Suprimmer une promotion</h1>
            {{ form(formDelete) }}
        </div>
    </div>
{% endblock %}