{% extends '::baseImpression.html.twig' %}
{% block body %}

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>8 <strong>Régime d'inscription</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Satut  :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p> Votre catégorie socio-professionnelle :    </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Code :  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>     </p>
                        </div>
                        <div class="col-sm-4">
                            <p>     </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p> Votre domaine d'activité professionnelle au cours de l'année universitaire :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p> Votre quotite travaillée :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>     </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p> Catégorie socio-professionnelle du représentant légal :    </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Code:    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>     </p>
                        </div>
                        <div class="col-sm-4">
                            <p>     </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p> Catégorie socio-professionnelle du second parent référent :    </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Code:    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-8">
                            <p>     </p>
                        </div>
                        <div class="col-sm-4">
                            <p>     </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>9 <strong> Aide financière</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> <strong> </strong>    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>10  </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Êtes-vous sportif de haut niveau ? </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Sport ? </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>11  <strong> Echanges internationaux </strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Précisez s'il s'agit d'un acceuil d'un étudiant à lyon1   ou de l'envoi d'un étudiant de Lyon1 dans un établissement étranger :  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>En cas d'envoie, précisez l'établissement d'accueil à l'étranger. En cas d'accueil, précisez votre établissement d'origine à l'étranger.  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-10">
                            <p> Etablisssement :      </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2"> </div>
                        <div class="col-sm-10">
                            <p> Pays :      </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>12<strong> Dernier établissement fréquenté </strong>  ( si différent de Lyon 1 ) </span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Nom  :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Dépt./Pays :      </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> Type  :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Année  :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> S'agit-il d'un transfert :      </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>13 <strong>Situation année précédente</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                           Nom établissement :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Département :
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span>14 <strong>Dernier diplôme obtenu dans l'enseignement supérieur en France</strong></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                           Département d'obtention de votre dernier diplôme :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Année d'obtention de votre dernier diplôme  :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Etablissement d'obtention de votre dernier diplôme  :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Dernier diplôme obtenu dans l'enseignement supérieur   :
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}