{% extends '::baseImpression.html.twig' %}
{% block body %}
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-1">
                            <span class="span-Impression">1 </span>
                        </div>
                        <div class="pull-left col-sm-5">
                            <img class="img-Impression pull-left" src="{{ asset('image/logo-lyon1.png') }}" alt="Université Claude Bernard Lyon 1" />
                        </div>

                        <div class=" col-sm-6 text-center">
                            <span class="pull-right">Année Universitaire 2015/2016</span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <h1>Dossier d'inscription</h1>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12 text-center">
                            <p>Renseigner les champs de manière électronique</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p>Avez-vous déjà été inscrit à l'Université de Lyon1 ? </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>N° étudiant :   </p>
                        </div>
                        <div class="col-sm-6">
                            <p> N° dossier de candidature : {{ Etudiant.numeroDossierCandidature }}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">2</span> <strong>ETAT CIVIL</strong>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <p>Nom :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Prénom  :</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Date de naissance :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Dépt./Pays :  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Sexe :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Ville de naissance :  </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> Votre n° national étudiant INE :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> Nationalité :    </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Situation familiale :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Nombre d'enfant :    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">3</span>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12">
                            <p> <strong>Êtes-vous atteint d'un handicap ? </strong>    </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">4</span>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12">
                            <p><strong> Situation militaire :</strong> Incorporable</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">5</span>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-6">
                            <p><strong> Prenière inscription    </strong> (dans un établissement en France)</p>
                        </div>
                        <div class="col-sm-6">
                            <p> Prenière inscription en Universoté Française   </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> En Enseignement supérieur :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Université     </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> En Université Française :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p>      </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> À Lyon1 :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p>      </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">6</span> <strong>Baccalauréat ou équivalence</strong>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12">
                           Année d'obtention             Intitulé
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Etablissement d'obtention :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <p> Type :    </p>
                        </div>
                        <div class="col-sm-6">
                            <p> Dépatement :      </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            Nom :
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-12">
            <div class="panel panel-info">
                <div class="panel-body">
                    <div class="row">
                        <div class="pull-left col-sm-6">
                            <span class="span-Impression">7</span><strong>Adresse</strong>
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col-sm-12">
                           Adresse :
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p> Code Postal :    </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Commune :      </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Pays :      </p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-4">
                            <p> Téléphone :    </p>
                        </div>
                        <div class="col-sm-4">
                            <p> Portable :      </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}