{% extends '::base.html.twig' %}
{% form_theme form 'bootstrap_3_layout.html.twig' %}


{% block body %}

    <h1>Recapitulatif de votre alternance</h1>

    <label>Licence :</label><p>{{ offr }}</p>
    <label>Titre de l'offre</label>
    <label>Sujet</label>
    <label>Maitre appretissage :</label>
    <label>Tuteur Pédagogique :</label>
    <label>Contrat :</label>

    <label></label><label></label>




{% endblock %}