/*
/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15 janv. 2016, 18:05:35
    Author     : antoine
*/
.mainContainer {
    background-color: white;
    border-radius: 2px;
    padding: 20px;
}

.alert-pop-up {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2000;
    border-color: #A8BBA0;
    border-radius: 1px;
}

.backgroundDisable {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: .50;
    filter: alpha(opacity=00);
    z-index: 1999;
    display: none;
}

.messsage-pop-up {
    white-space: nowrap;
    padding-right: 20px;
}

.displayNone {
    display: none;
}

.margTop100 {
    margin-top: 100px;
}

.margTop10 {
    margin-top: 10px;
}

.margR10 {
    margin-right: 10px;
}

.margTop50 {
    margin-top: 50px;
}

.margR5 {
    margin-right: 5px;
}

.margB10 {
    margin-bottom: 10px;
}

.margB20 {
    margin-bottom: 20px;
}

.block-bleu {
    background-color: #5eb5e0;
    border-radius: 5px;
    border: solid 1px grey;
    padding: 15px;
}

.block {
    background-color: #C6C7D8;
    border-radius: 2px;
    border: solid 1px grey;
    padding: 15px;
}

.dl-horizontal dt {
    text-align: left;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-attachment: fixed;
    background-image: url("../../image/fond.jpg");
    background-position: bottom left;
    background-repeat: no-repeat;
    background-size: cover;
}

#wrapper {
    min-height: 100%;
    position: relative;
}

#header {
}

#content {
    padding-bottom: 100px; /* Height of the footer element */
}

#footer {
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navTop {
    border-radius: 0;
}

.navBot {
    margin-bottom: 0px;
    border-radius: 0px;
}

.red {

    color: red;
}

.noir {
    color: black;
}

#fof{display:block; position:relative; width:960px; height:578px; background:url("../../image/404.png") top left no-repeat; border-bottom:2px solid #000000; line-height:1.6em; text-align:center;}
#fof .positioned{display:block; position:absolute; top:300px; right:0; width:448px; height:250px;}
#fof .hgroup{margin-bottom:50px;}
#fof .hgroup h1{}
#fof .hgroup h2{}
#fof img{margin-bottom:25px;}
#fof p{display:block; margin:0 0 25px 0; padding:0; font-size:16px;}
#fof #respond input{width:200px; padding:5px; border:1px solid #CCCCCC;}
#fof #respond #submit{width:auto;}