<ul class="nav navbar-nav">
    <li><a href="{{ path('site_accueilEntreprise') }}" class="navbar-brand">{{ app.user.idEntreprise.raisonSocial }}</a>
    </li>
    <li><a href="{{ path('site_ajoutAnnonce') }}">Ajouter une annonce</a></li>
</ul>