<ul class="nav navbar-nav">
    <li class="dropdown">
        <a href="#" class="navbar-brand dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
           aria-expanded="false">{{ app.user.idEntreprise.raisonSocial }}<span class="caret"></span></a>
        <ul class="dropdown-menu">
            <li><a href="{{ path('site_accueilEntreprise') }}">Accueil</a></li>
            <li><a href="{{ path('site_edditEntreprise') }}">Modifier mes informations</a></li>
        </ul>
    </li>
    <li><a href="{{ path('site_ajoutAnnonce') }}">Ajouter une annonce</a></li>
</ul>